{% extends "_layout/base.html" %}
{% block content %}
{% markdown %}

    # À propos

    Ce site est une **initiative personnelle** de [Raphaël Jolivet](https://raphael-jolivet.name/).

    Je suis un quarantenaire, ingénieur de recherche, écolo, progressiste.

    Je m'intéresse de près aux questions sociales et à la démocratie.

    Je cherche à mettre mes compétences en informatique et en analyse des données au services de sujets de société.
    Celui de l'héritage me semble à la fois central et ignoré.

    Le code source de ce site et du simulateur est [disponible sur Github](https://github.com/raphaeljolivet/heritage).

    Vous pouvez me contacter [par email](mailto://raph@rjo.name)


{% endmarkdown %}
{% endblock %}

