{% extends "_layout/base.html" %}
    {%  block content %}

    <h2>Introduction</h2>

    <div class="introduction">
        {% markdown %}
            Ce site reprend [l'idée de Thomas Picketty](https://www.ladepeche.fr/2019/12/30/un-heritage-de-120-000-euros-pour-tous-a-25-ans-lidee-insolite-de-leconomiste-thomas-piketty,8633337.php) d'un **héritage pour tous à 25 ans**.

            Il propose un [simulateur de réforme](/simulateur) qui s'appuie sur le rapport [*Repenser l'héritage*](https://www.cae-eco.fr/repenser-lheritage), du [Conseil d'Analyse Économique (CAE)](https://www.cae-eco.fr/) qui **démontre la faisabilité d'un tel projet**.

            L'objectif est **d'ouvrir un débat public** sur ce thème et d'inciter les **partis politiques à s'en emparer**.

        {% endmarkdown %}
    </div>


    <h2>La problématique</h2>

    <div class="information pure-g">

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="c-box">
                <h3 class="information-head">🧓 Héritage tardif</h3>
                <p>
                    {% markdown %}
                        Avec le vieillissement de la population, [l'age moyen de l'héritage](piketty.pse.ens.fr/files/capital21c/pdf/G11.3.pdf) est passé de 30 ans au début du siècle dernier, à 50 ans aujourd'hui.

                        Les français qui héritent, héritent donc à un âge où ils sont **déjà installés** et ont déjà constitué un patrimoine.

                        C'est plus tôt dans la vie qu'un patrimoine de base est nécessaire : pour s'installer, obtenir un logement, lancer une activité, ...

                    {% endmarkdown %}
                </p>
            </div>

            <div class="c-box">
                <h3 class="information-head">
                    <i class="fa-solid fa-scale-unbalanced"></i>
                    Reproduction des inégalités
                </h3>
                <p>
                    {% markdown %}
                    L'héritage constitue aujourd'hui plus de **60% du patrimoine** total des ménages, réparti de manière très inégalitaire:

                    * 50% des français héritent de **moins de 70 000 €**
                    * 0.1% des plus riches héritent de **13 millions d'euros**

                    ![](./img/repartition.png)

                    {% endmarkdown %}
                </p>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-2">
            <div class="c-box">
                <h3 class="information-head">
                    <i class="fa-solid fa-percent"></i>
                    Impôt peu progressif
                </h3>
                <p>
                    {% markdown %}
                    Contrairement à une idée reçue, **la taxation sur l'héritage est très faible  et peu progressive** :

                    La majorité des héritages en ligne directe ne **sont pas du tout taxés**, et le taux effectif d'imposition **ne dépasse pas 10%**,
                    même pour les très hauts héritages (13 millions €)

                    ![](./img/taux-effectif.png)

                    {% endmarkdown %}
                </p>
            </div>

            <div class="c-box">
                <h3 class="information-head">
                    ❓ Le saviez-vous ?
                </h3>
                <p>
                    {% markdown %}

                    Si l'héritage était totalement égalitaire, chaque français [hériterait de 370 000 €](https://www.pourleco.com/idees/economistes-qui-pense-quoi-sur-lheritage-et-limpot-sur-les-successions)

                    {% endmarkdown %}
                </p>
            </div>
        </div>

   </div> <!-- end information -->

   <h2>L'héritage pour tous </h2>

        <div class="introduction">
         {% markdown %}

         L'idée est de **socialiser une petite partie de l'héritage**, pour mettre en place un **héritage de base**,
             versé à chaque français au **début de sa vie active** (25 ans par exemple).

          Les [travaux du CAE démontrent](https://www.cae-eco.fr/repenser-lheritage) qu'il est possible de mettre en place une **fiscalité plus progressive**,
             qui dégagerait de **10 à 20 milliards de recettes supplémentaires**, et permettrait de financer un héritage de base de **30 à 50 000 €**.

          Une telle réforme serait bénéfique pour plus de **95% des français**.

          Voici un exemple de résultat [du simulateur](/simulateur) :

          ![](./img/exemple-tableau.png)

         {% endmarkdown %}

        <a class="pure-button pure-button-primary " href="/simulateur">Tester le simulateur</a>


        </div>

     <h2>Resources / aller plus loin</h2>

    <div  class="introduction">
        {%  for link in links %}
            <a class="c-box" href="{{ link.url }}">
                {{ link.title }}<br/>
                <b>{{ link.url | domain }}</b>
            </a>
        {%  endfor %}
    </div>

{% endblock %}


