<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Héritage Pour Tous</title>
    <meta name="description" content="Réformer l'héritage au bénéfice de la majorité des français.">

    <meta property="og:title" content="Héritage Pour Tous" />
    <meta property="og:description" content="Réformer l'héritage au bénéfice de la majorité des français." />
    <meta property="og:image" content="https://heritage-pour-tous.fr/img/banner.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/pure-min.css" >
    <link rel="stylesheet" href="./css/grid-min.css" >
    <link rel="stylesheet" href="./css/styles.css" >

</head>
<body>

<div class="banner">
    <div class="banner-head">
         <div class="pure-g inner-banner">
            <div class="pure-u-1 pure-u-md-2-5">
                <img src="./img/logo.png" class="logo">
            </div>
            <div class="pure-u-1 pure-u-md-3-5">
                <h1 class="banner-title">Héritage Pour Tous</h1>
                <p class="banner-subtitle">
                    <i class="highlight">Réduire les inégalités</i>, <br/>
                    Instaurer un <i class="highlight">héritage de base</i>,<br/>
                    au profit de la <i class="highlight">majorité des français</i>
                </p>
            </div>
        </div>
        <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list" >
            <li class="pure-menu-item">
                <a href="/" class="pure-menu-link">🏠 Accueil</a>
            </li>
            <li class="pure-menu-item">
                <a href="./simulateur" class="pure-menu-link">📊 Simulateur</a>
            </li>
            <li class="pure-menu-item">
                <a href="./about" class="pure-menu-link">📧 à propos</a>
            </li>
        </ul>
    </div>
    </div>



</div>

<div class="l-content">
    {% block content %}

    {% endblock %}
</div>

<div class="footer l-box">
    <p>
        <a href="#">Contact</a>
    </p>
</div>

</body>
</html>
